<h1>What's in the box!?</h1>

<%= link_to "Click here", "http://www.youtube.com/watch?v=Dx_UJxuQGXo" %> to find out.

<br />
...answer...
<br />
A dummy rails <%= Rails.version %> app. (yay) You are looking at it...
<br />
It has a <%= link_to "Post's scaffold", posts_path %> with a sqlite backend, so that's pretty cool.
